<h3>Counter</h3>
<h4>{{ counter }}</h4>

<div class="row text-center">
  <div class="col">
    <input type="text"  class=" w-25 p-1 form-control d-inline-block" [(ngModel)]= "numberProduct">
    <button class="btn btn-primary"(click)="multiply()">Multiply</button>
    <input type="text"  class=" w-25 p-1 form-control d-inline-block" [(ngModel)]= "numberDivided">
    <button class="btn btn-info" (click)="divide()">Divide</button>
  </div>
</div>

<hr>

<div class="row text-center">
  <div class="col">
    <app-nieto ></app-nieto>
  </div>
</div>
