<div class="row">
  <div class="col-12">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Add Revenue / Cost</h4>
        <p class="card-description">
          Specify amount and type:
        </p>

        <form>

          <div class="form-group">
            <label>Description</label>
            <input type="text" class="form-control" placeholder="Description" name="Description">
          </div>

          <div class="form-group">
            <label>Amount</label>
            <input type="number" class="form-control" placeholder="Amount" name="Amount">
            <p>
              Should be an amount positive
            </p>
          </div>

          <div class="form-group">
            <label>Type</label>
            <br>
            <button type="button" class="btn btn-primary btn-block">Revenue</button>
            <button type="button" class="btn btn-warning btn-block">Cost</button>
          </div>

          <hr>
          <button type="button" class="btn btn-success mr-2">
            <i class="fa fa-save"></i>
            Add
          </button>

          <!--
              <button disabled class="btn btn-success mr-2">
                <i class="fa fa-spin fa-sync"></i>
                Please Wait...
              </button>
            -->

          <button type="reset" class="btn btn-light">Cancel</button>

        </form>
      </div>
    </div>
  </div>
</div>
